<div id="imagens">
	<h1>Imagens</h1>

	<p>Existem 2 tipos de adicionar uma imagem a sua pagina, você pode coloca-la como fundo, veja mais <a href="bacground.html">bacgrounds</a> ou colocala com a tag <span class="text-red">img</span>, que é o que falaremos aqui</p>
	<p>Na imagem mesmo é possivel adicionar as propriedades <span class="text-blue">width: ;</span> e <span class="text-blue">height: ;</span> Mas ainda sim corre o risco dela passar do tamanho do container pai</p>
	<p>Para isso não acontecer coloque a img dentro de uma div e nessa div coloque uma classe ou id e use a Propriedade <span class="text-blue">overflow: <span class="text-purple">hidden</span>; Assim a parte da imagem que utrapassar o elemento pai será cortada</span> Veja o exemplo abaixo</p>

	<div class="caixa03 divImagem"><img src="img/imagem1.png"></div>

	<p>Outra maneira de fazer isso E NÃO CORTAR A IMAGEM é diretamenta na imagem colocar um tamanho em porcentagem, logo ela sera uma imagem fluida (se adaptara ao tamanho do container pai)</p>
</div>