<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="cursoCss.css">
	<title>Curso css</title>
	<style>
		ul{
			list-style: none;
		}
	</style>
</head>
<body>

	<h1>Curso CSS</h1>

	<ul>
		<li><a href="flexBox.html">Flex Box</a></li>
		<li><a href="seletores.html">Seletores</a></li>
		<li><a href="bordas.html">Bordas</a></li>
		<li><a href="imagens.html">imagens</a></li>
		<li><a href="textos.html">Textos</a></li>
		<li><a href="links.html">Links</a></li>
		<li><a href="tabelas.html">tabelas</a></li>
		<li><a href="formularios.html">formularios</a></li>
		<li><a href="bacground.html">Bacgrounds</a></li>
		<li><a href="barraNavegacao.html">Barra de navegação</a></li>
		<li><a href="boxModel.html">Box Model</a></li>
		<li><a href="elementosFlutuantes.html">Elementos flutuantes</a></li>
		<li><a href="inlineBlock.html">Elementos em Bloco</a></li>
		<li><a href="posicionamento.html">Posicionamento</a></li>
	</ul><hr>

</body>
</html>