<div id="links">
	<h1>Formatando Links</h1>
	<p>Podemos mudar a cor de um link usando a propriedade <span class="codigo">color: <span class="text-blue">cor</span> ;</span> Como já vimos em <a href="textos.html">Textos</a></p>
	<p>Para mudar estilos de links não visitados usamos <span class="text-red">a:link{ <span class="codigo">Estilos de texto</span> }</span></p>
	<p>Para mudar estilos de links visitados usamos <span class="text-red">a:visited{ <span class="codigo">Estilos de texto</span> }</span></p>
	<p>Para mudar estilos de links quando passa o cursor usamos <span class="text-red">a:hover{ <span class="codigo">Estilos de texto</span> }</span></p>
	<p>Para mudar estilos de ativos (quando clicamos) usamos <span class="text-red">a:active{ <span class="codigo">Estilos de texto</span> }</span></p>
	<p><span class="text-red">IMPORTANTE</span> Manter a ordem acima na hora de formatar os links</p>
	<a href="#">link-01</a> / 
	<a href="#">link-01</a> / 
	<a href="#">link-01</a> / 
	<a href="https://www.youtube.com/watch?v=uaebgEChyDQ&t=9s">link-01</a> / 
</div>