<div id="seletores">
	<h1>Seletores</h1>
	<ul>
		<li><span class="text-red">*</span>{} => seletor universal, seleciona todos os elementos</li>
		<li><span class="text-red">li>a</span>{} => Seleciona todo elemento <span class="text-red">a</span> que é filho de um alemento <span class="text-red">li</span></li>
		<li><span class="text-red">div a</span>{} => Vai selecionar todos os <span class="text-red">a</span> que forem descendente da <span class="text-red">div</span> mesmo que dentro de um span ou outro elemento</li>
		<li><span class="text-red">h1+p</span>{} => Seleciona todo primeiro <span class="text-red">p</span> que vier depois de um <span class="text-red">h1</span></li>
		<li><span class="text-red">h1~p</span> vai selecionar todos os <span class="text-red">p</span> que estiverem abaixo de um <span class="text-red">h1</span></li>
	</ul>
</div>